*, html {
    padding: 0;
    margin: 0;
    font-family: 'Inter', serif;
    background-color: var(--background-layer-1);
}

h1, h2, h3, h4, h5 {
    color: var(--heading-color);
}

:root {
    --background-layer-1: #000;
    --background-layer-2: #0d0d0d;
    --background-layer-3: #1a1a1a;

    --heading-color: #ffffff;
    --text-color: #bfbfbf;

    --heading-2xl: 4rem;
    --heading-xl: 2rem;
    --heading-lg: 1.5rem;
    --heading-md: 1rem;
    --heading-sm: 0.75rem;

    --text-2xl: 3rem;
    --text-xl: 2rem;
    --text-lg: 1.5rem;
    --text-md: 1rem;
    --text-sm: 0.75rem;
}